div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  caption-side: bottom;
  font-size: large;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  overflow-y: auto;   
  box-sizing: border-box;
}

div.scroll-container img {
  padding: 10px;
}

